<!--The content below is only a placeholder and can be replaced.-->

<div>
  <div class="firstPart">
    <div class="h1">{{ title }}</div>
    <div class="some">
        <input type="text" placeholder="Buscar..." class="field"/>
        <i class="fas fa-search"></i>
    </div>
  </div>

    <nav>
      <ul>
        <li><a class="yellow" style="border-top: 1px solid gold;" href="#">PRODET</a></li>
        <li><a class="DodgerBlue" style="border-top: 1px solid DodgerBlue;" href="#">CAMBIOS C.T.</a></li>
        <li><a class="red" style="border-top: 1px solid red;" href="#">CONAFE</a></li>
        <li><a class="purple" style="border-top: 1px solid purple;" href="#">SPD</a></li>
        <li><a class="green" style="border-top: 1px solid green;" href="#">PREINSCRIPCIONES</a></li>
        <li><a class="orange" style="background: #C0571E; border-top: 1px solid #C0571E;" href="#">ANALÍTICOS DE PLAZAS</a></li>
        <li><a class="aqua" style="border-top: 1px solid aqua;" href="#">SOLICITUDES DE PERSONAL</a></li>
        <li><a class="yellow" style="border-top: 1px solid gold;" href="#">SOLICITUDES INFRAESTRUCTURA</a></li>
      </ul>
    </nav>


</div>
