
    <div class="secondPart">
      <div class="h3" style="float: left;">Tablero de control</div>
      <div class="h2">Cobertura de la figura directiva</div>
    </div>
  <div id="sidebar-nav">
    <ul>
      <li><a href="#">Todos los servicios<br><br>Todos los flujos<div class="different">
          <br>MENÚ
      </div> </a></li>
      <li><a href="#">Jefe de Sector</a></li>
      <li><a href="#">Supervisor</a></li>
      <li>
        <a href="#">Director</a>
        <ul class="subMenu">
          <li>Navegar archivos</li>
          <li class="active">Actividad <i class="fas fa-caret-left"></i></li>
          <li>Compartir archivos</li>
        </ul>
      </li>
      <li><a href="#">Docente</a></li>
      <li><a href="#">Administrativo</a></li>
      <li><a href="#">Personal de Apoyo<div class="different">
          <br>Servicios
      </div></a></li>
      <li><a href="#">Informes</a></li>
      <li><a href="#">Reportes</a></li>
      <li><a href="#">Bases de datos</a></li>
      <li><a href="#">Resúmen</a></li>
      <li><a href="#">Compartir archivos</a></li>
      <li><a href="#">Distribución educativa en Jalisco</a></li>
      <li><a href="#">Agregar servicio</a></li>
    </ul>
  </div>
